html {
  --color: rgb(228, 77, 77);
}

body {
  max-width: 60ch;
  margin: 0 auto;
  padding: 1rem;
  font-family: "fira Sans", "Helvetica", sans-serif;
  color: #333;
  font-size: 1rem;
}

@media (min-width: 600px) {
  body {
    font-size: 1.25rem;
  }
}

a, a:visited {
  color: var(--color);
}

ul {
  list-style: disc outside;
}

body * + * {
  margin-top: 1.5rem;
}

ol *, ul * {
  margin-top: 0;
}

h1 + p, h2 + p, h3 + p, h4 + p, h5 + p, h6 {
  margin-top: 0; /* This works together with the rule below. */
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 2rem;
  margin-bottom: .5em;
}

h4, h5, h6 {
  font-weight: 600;
  color: #444;
}

code {
  white-space: pre;
  font-family: "Fira mono", monopace;
  color: #555;
}

pre {
  padding: 0.5em 1em;
  background-color: #eee;
  border-radius: 0.25em;
  overflow: auto;
}

pre code {
  color: #111;
  font-size: 0.75em;
}
